*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header h1{
  text-align: center;
  margin-top: 1%;
}
.i1{
  height: 300px;
  width: 30%;
  margin-left: 35%;
  margin-top: 2%;
}
.counter h1{
  text-align: center;
}
#btn-1{
  height: 50px;
  width: 50px;
  margin-left: 40%;
  font-size: 30px;
  margin-top: 5%;
}
#btn-2{
  height: 50px;
  width: 50px;
  margin-left: 4%;
  font-size: 30px;
  margin-top: 5%;
}
#btn-3{
  height: 50px;
  width: 100px;
  margin-left: 4%;
  font-size: 30px;
  margin-top: 5%;
}