.service{
    height: 300px;
    width: 100%;
    margin-top: 5%;
/*    border: 2px solid black;*/
}
#service-h4{
    font-size: 18px;
/*    font-weight: bold;*/
/*  font-family: 'Advent Pro', sans-serif; */
/*  font-family: 'Bebas Neue', sans-serif; */
/*  font-family: 'Chakra Petch', sans-serif; */
/*  font-family: 'Kanit', sans-serif;*/
/*  font-family: 'Michroma', sans-serif; */
/*  font-family: 'Tektur', cursive; */
    font-family: 'Ysabeau SC', sans-serif;
    padding-top: 4%;
    font-weight: bold;
    padding-left: 8%;
    color: #000;
}
#service-h2{
/*  font-family: 'Advent Pro', sans-serif; */
/*  font-family: 'Bebas Neue', sans-serif; */
/*  font-family: 'Chakra Petch', sans-serif; */
/*  font-family: 'Kanit', sans-serif;*/
/*  font-family: 'Michroma', sans-serif; */
/*  font-family: 'Tektur', cursive; */
    font-family: 'Ysabeau SC', sans-serif;
    padding-left: 8%;
    color: #000;
    font-weight: bold;
}